body, html {
    height: 100%;
    background-repeat: no-repeat;
    background:url('../../img/bg-pages.jpg');
    background-size: cover;
}
.data {
  max-width: 500px;
}

h1 {
  color: var(--terciary-color);
}

.single {
padding: 30px 15px;
margin-top: 110px;
background: var(--secondary-color);
border: 1px solid var(--secondary-color); }
.single h3.side-title {
margin: 0;
margin-bottom: 10px;
padding: 0;
font-size: 20px;
color: var(--font-color-variant);
text-transform: uppercase; }
.single h3.side-title:after {
content: '';
width: 60px;
height: 1px;
background: var(--quaternary-color);
display: block;
margin-top: 6px; }

.single ul {
margin-bottom: 0; }
.single li a {
color: var(--font-color);
font-size: 14px;
text-transform: uppercase;
border-bottom: 1px solid var(--secondary-color);
line-height: 40px;
display: block;
text-decoration: none; }
.single li a:hover {
color: var(--quaternary-color); }
.single li:last-child a {
border-bottom: 0; }

.btn{
  margin-top: 10px;
  margin-bottom: 10px;
}

a, a:hover{
  color: var(--secondary-color);
}
